li{
	display: inline;
	margin: 1%;
	text-align: center;
}

span{
	color: $red;
	background-color: $white;
	padding-right: 2%;
	font-weight: bold;
	text-transform: uppercase;
}
a:link{
	color:$grey;
	text-decoration: none;
	&:hover{
		color: $red;
		text-decoration: none;
	}
	&:visited{
		color: $red;
		text-decoration: none;
	}
	&:active{
		color: $red;
		text-decoration: none;
	}
}
button{
	background-color: $red;
	color: white;
	&:hover{
		background-color: $pink;
		color: white;
	}
}
p{
	text-align: justify;
}
input{
::-webkit-input-placeholder { color: blue; }; /* WebKit */
:-moz-placeholder { color: blue; }; /* Firefox 18- */
::-moz-placeholder { color: blue; }; /* Firefox 19+ */
:-ms-input-placeholder { color: blue; }; /* IE 10+ */
}