.floatright{
	float: right;
} 
.floatleft{
	float: left;
}
.logo{
	font-size: 85px;
	margin: 0;
	color:$red;
}
.pink{
	color:$pink;
}
#nav{ 
	font-weight: bold;
	text-transform: uppercase;
}
.footer_area{
	color: $white;
}
.bg-red{
	background-color: $red;
	border-left: solid 10px $white;
	border-right: solid 10px $white;
}
.bg-lines{
	background: url("../images/heading-bg.png"); 
	background-repeat: repeat;
}
.bg-border{
	background: url("../images/galley_photo.png"); 
	background-repeat: repeat; 
	min-height: 50px;
}
.mainmenu{
	text-align: right;
	display: inline;
}
.fix{
	margin-top: 2%;
	margin-bottom: 2%;
}
.about{
	width: 25%;
	border:1px solid $grey;
	margin: 1%;
}
.title{
	color: white;
	margin:1%;
}
.imgbg{
	width: 100%;
}
.text{
	width:100%;
}
.gallery{
	margin: 1%;
	border: 1px solid $red;
}
.cita{
	border-left: 5px $red solid;
	color:$red;
	display: block;
	margin-left: 5%;
}
.bm{
	margin-bottom: 10%;
}
.iconout{
	margin-left: -10%;
}
.title-red{
	color: $red;
	text-transform: uppercase;
}
.ppal{
	margin-top: -73px;
    width: 100%;
}
.blog{
	color: $grey;
}
.sep:after{
	content: "|";
	padding-left: 10px;
	padding-right: 10px;
	margin: auto;
	color: $grey;
}
.linkport{
	display: inline;
	color:$grey;
	text-transform: uppercase;
	text-align: center;
	&:hover{
		background-color: $red;
		color:$white;
	}
}
.name{
	color: $grey;
	text-transform: uppercase;
}
.fecha{
	color: $pink;
	text-transform: uppercase;
}
.foto, .texto{
	@include foto(1px solid $grey, 1px, 2%)
}
.peli{
	width: inherit;
}
.tx-grey{
	color: $grey;
}